---
packages: @alpinejs
---

<!-- Alpine Component: Radio Group -->


<!-- Radio Group -->
<div
    x-data="{
        value: 'laravel',
        select(option) { this.value = option },
        isSelected(option) { return this.value === option },
        hasRovingTabindex(option, el) {
            // If this is the first option element and no option has been selected, make it focusable.
            if (this.value === null && Array.from(el.parentElement.children).indexOf(el) === 0) return true

            return this.isSelected(option)
        },
        selectNext(e) {
            let el = e.target
            let siblings = Array.from(el.parentElement.children)
            let index = siblings.indexOf(el)
            let next = siblings[index === siblings.length - 1 ? 0 : index + 1]

            next.click(); next.focus();
        },
        selectPrevious(e) {
            let el = e.target
            let siblings = Array.from(el.parentElement.children)
            let index = siblings.indexOf(el)
            let previous = siblings[index === 0 ? siblings.length - 1 : index - 1]

            previous.click(); previous.focus();
        },
    }"
    @keydown.down.stop.prevent="selectNext"
    @keydown.right.stop.prevent="selectNext"
    @keydown.up.stop.prevent="selectPrevious"
    @keydown.left.stop.prevent="selectPrevious"
    role="radiogroup"
    :aria-labelledby="$id('radio-group-label')"
    x-id="['radio-group-label']"
    class="max-w-2xl w-full"
>
    <!-- Radio Group Label -->
    <label :id="$id('radio-group-label')" role="none" class="sr-only">Backend framework: <span x-text="value"></span></label>

    <div class="flex gap-3 max-sm:flex-col">
        <!-- Option -->
        <div
            x-data="{ option: 'laravel' }"
            @click="select(option)"
            @keydown.enter.stop.prevent="select(option)"
            @keydown.space.stop.prevent="select(option)"
            :aria-checked="isSelected(option)"
            :tabindex="hasRovingTabindex(option, $el) ? 0 : -1"
            :aria-labelledby="$id('radio-option-label')"
            :aria-describedby="$id('radio-option-description')"
            x-id="['radio-option-label', 'radio-option-description']"
            role="radio"
            :class="isSelected(option) ? 'bg-gray-50 border-gray-600' : 'bg-white border-gray-800/15'"
            class="flex flex-1 cursor-pointer justify-between gap-3 rounded-lg border p-4 shadow-sm hover:bg-gray-50"
        >
            <div class="flex flex-1 gap-2">
                <div>
                    <!-- Primary Label -->
                    <p :id="$id('radio-option-label')" class="font-medium text-gray-800">Laravel</p>

                    <!-- Secondary Information -->
                    <div :id="$id('radio-option-description')" class="mt-2 text-sm text-gray-500">
                        A PHP framework built by Taylor Otwell
                    </div>
                </div>
            </div>

            <!-- Checked Indicator -->
            <div
                :class="isSelected(option) ? 'ring-gray-800 bg-gray-800 hover:bg-gray-800 focus:bg-gray-800' : 'ring-gray-300 bg-white'"
                class="flex size-[14px] shrink-0 items-center justify-center rounded-full text-gray-700 shadow-none ring-1 ring-offset-2"
                aria-hidden="true"
            ></div>
        </div>

        <div
            x-data="{ option: 'rails' }"
            @click="select(option)"
            @keydown.enter.stop.prevent="select(option)"
            @keydown.space.stop.prevent="select(option)"
            :aria-checked="isSelected(option)"
            :tabindex="hasRovingTabindex(option, $el) ? 0 : -1"
            :aria-labelledby="$id('radio-option-label')"
            :aria-describedby="$id('radio-option-description')"
            x-id="['radio-option-label', 'radio-option-description']"
            role="radio"
            :class="isSelected(option) ? 'bg-gray-50 border-gray-600' : 'bg-white border-gray-800/15'"
            class="flex flex-1 cursor-pointer justify-between gap-3 rounded-lg border p-4 shadow-sm hover:bg-gray-50"
        >
            <div class="flex flex-1 gap-2">
                <div>
                    <!-- Primary Label -->
                    <p :id="$id('radio-option-label')" class="font-medium text-gray-800">Rails</p>

                    <!-- Secondary Information -->
                    <div :id="$id('radio-option-description')" class="mt-2 text-sm text-gray-500">
                        A Ruby framework built by DHH
                    </div>
                </div>
            </div>

            <!-- Checked Indicator -->
            <div
                :class="isSelected(option) ? 'ring-gray-800 bg-gray-800 hover:bg-gray-800 focus:bg-gray-800' : 'ring-gray-300 bg-white'"
                class="flex size-[14px] shrink-0 items-center justify-center rounded-full text-gray-700 shadow-none ring-1 ring-offset-2"
                aria-hidden="true"
            ></div>
        </div>

        <div
            x-data="{ option: 'phoenix' }"
            @click="select(option)"
            @keydown.enter.stop.prevent="select(option)"
            @keydown.space.stop.prevent="select(option)"
            :aria-checked="isSelected(option)"
            :tabindex="hasRovingTabindex(option, $el) ? 0 : -1"
            :aria-labelledby="$id('radio-option-label')"
            :aria-describedby="$id('radio-option-description')"
            x-id="['radio-option-label', 'radio-option-description']"
            role="radio"
            :class="isSelected(option) ? 'bg-gray-50 border-gray-600' : 'bg-white border-gray-800/15'"
            class="flex flex-1 cursor-pointer justify-between gap-3 rounded-lg border p-4 shadow-sm hover:bg-gray-50"
        >
            <div class="flex flex-1 gap-2">
                <div>
                    <!-- Primary Label -->
                    <p :id="$id('radio-option-label')" class="font-medium text-gray-800">Phoenix</p>

                    <!-- Secondary Information -->
                    <div :id="$id('radio-option-description')" class="mt-2 text-sm text-gray-500">
                        An Elixir framework built by Chris McCord
                    </div>
                </div>
            </div>

            <!-- Checked Indicator -->
            <div
                :class="isSelected(option) ? 'ring-gray-800 bg-gray-800 hover:bg-gray-800 focus:bg-gray-800' : 'ring-gray-300 bg-white'"
                class="flex size-[14px] shrink-0 items-center justify-center rounded-full text-gray-700 shadow-none ring-1 ring-offset-2"
                aria-hidden="true"
            ></div>
        </div>
    </div>
</div>