---
packages: @alpinejs, @alpinejs/ui, @alpinejs/focus
---
<!-- Alpine Component: Menu (Dropdown) - Groups with Headings -->  

<!-- Menu -->
<div x-data x-menu class="relative">

    <!-- Menu Button -->
    <button x-menu:button class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 rounded-lg shadow-sm bg-white hover:bg-gray-50 text-gray-800 border border-gray-200 hover:border-gray-200 px-4">
        <span>Options</span>

        <!-- Heroicon: micro chevron-down -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
    </button>

    <!-- Menu Items -->
    <div
        x-menu:items
        x-transition.origin.top.left
        class="absolute left-0 min-w-48 rounded-lg shadow-sm mt-2 z-10 origin-top-left bg-white divide-y divide-gray-200 outline-none border border-gray-200"
        x-cloak
    >
        <div class="p-1.5" role="group">
            <div class="px-2.5 pt-2 pb-1 w-full flex items-center text-left text-xs font-medium text-gray-500">
                Account
            </div>

            <!-- Menu Item -->
            <button
                x-menu:item
                type="button"
                :class="{
                    'bg-gray-50': $menuItem.isActive,
                    'opacity-50 cursor-not-allowed': $menuItem.isDisabled,
                }"
                class="px-2.5 py-1.5 w-full flex items-center rounded-md transition-colors focus:outline-none text-left text-gray-800"
            >
                New post
            </button>

            <a
                x-menu:item
                href="#permissions"
                :class="{
                    'bg-gray-50': $menuItem.isActive,
                    'opacity-50 cursor-not-allowed': $menuItem.isDisabled,
                }"
                class="px-2.5 py-1.5 w-full flex items-center rounded-md transition-colors focus:outline-none text-left text-gray-800"
            >
                Permissions
            </a>
        </div>
        <div class="p-1.5" role="group">
            <div class="px-2.5 pt-2 pb-1 w-full flex items-center text-left text-xs font-medium text-gray-500">
                Billing
            </div>

            <a
                x-menu:item
                href="#transactions"
                :class="{
                    'bg-gray-50': $menuItem.isActive,
                    'opacity-50 cursor-not-allowed': $menuItem.isDisabled,
                }"
                class="px-2.5 py-1.5 w-full flex items-center rounded-md transition-colors focus:outline-none text-left text-gray-800"
            >
                Transactions
            </a>

            <a
                x-menu:item
                href="#payouts"
                :class="{
                    'bg-gray-50': $menuItem.isActive,
                    'opacity-50 cursor-not-allowed': $menuItem.isDisabled,
                }"
                class="px-2.5 py-1.5 w-full flex items-center rounded-md transition-colors focus:outline-none text-left text-gray-800"
            >
                Payouts
            </a>

            <a
                x-menu:item
                href="#refunds"
                :class="{
                    'bg-gray-50': $menuItem.isActive,
                    'opacity-50 cursor-not-allowed': $menuItem.isDisabled,
                }"
                class="px-2.5 py-1.5 w-full flex items-center rounded-md transition-colors focus:outline-none text-left text-gray-800"
            >
                Refunds
            </a>
        </div>
        <div class="p-1.5" role="group">
            <a
                x-menu:item
                href="#logout"
                :class="{
                    'bg-red-50 text-red-600': $menuItem.isActive,
                    'opacity-50 cursor-not-allowed': $menuItem.isDisabled,
                }"
                class="px-2.5 py-1.5 w-full flex items-center rounded-md transition-colors focus:outline-none text-left text-gray-800"
            >
                Logout
            </a>
        </div>
    </div>
</div>