---
packages: @alpinejs
---

<!-- Alpine Integration: FullCalendar -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

<div
    x-data="{
        calendar: null,
        events: [
            {
                id: 1,
                title: 'Build my secret project 🛠',
                start: '2022-06-05',
                end: '2022-06-08',
            },
            {
                id: 2,
                title: 'Launch 🚀',
                start: '2022-06-23',
            },
        ],
        newEventTitle: null,
        newEventStart: null,
        newEventEnd: null,
        init() {
            this.calendar = new FullCalendar.Calendar(this.$refs.calendar, {
                events: (info, success) => success(this.events),
                initialDate: '2022-06-01',
                initialView: 'dayGridMonth',
                selectable: true,
                unselectAuto: false,
                editable: true,
                select: (info) => {
                    this.newEventStart = info.startStr
                    this.newEventEnd = info.endStr
                },
                eventClick: (info) => {
                    if (confirm('Are you sure you want to remove this event?')) {
                        const index = this.getEventIndex(info)

                        this.events.splice(index, 1)

                        this.calendar.refetchEvents()
                    }
                },
                eventChange: (info) => {
                    const index = this.getEventIndex(info)

                    this.events[index].start = info.event.startStr
                    this.events[index].end = info.event.endStr
                },
            })

            this.calendar.render()
        },
        getEventIndex(info) {
            return this.events.findIndex((event) => event.id == info.event.id)
        },
        addEvent() {
            if (! this.newEventTitle || ! this.newEventStart) {
                return alert('Please choose a title and start date for the event!')
            }

            let event = {
                id: Date.now(),
                title: this.newEventTitle,
                start: this.newEventStart,
                end: this.newEventEnd,
            }

            this.events.push(event)
            this.calendar.refetchEvents()

            this.newEventTitle = null
            this.newEventStart = null
            this.newEventEnd = null

            this.calendar.unselect()
        },
    }"
>
    <div x-ref="calendar"></div>

    <h2 class="mt-8 font-bold">List of events</h2>
    <ul class="mt-1 list-inside list-disc text-sm text-gray-500">
        <template x-for="event in events" :key="event.id">
            <li x-text="`${event.title}: ${event.start} ${(event.end ? ' through ' + event.end : '')}`"></li>
        </template>
    </ul>

    <form x-on:submit.prevent="addEvent" class="mt-8 max-w-md">
        <h2 class="font-bold">Adding a new event</h2>
        <p class="mt-1 text-sm text-gray-500">Select a date or date range on the calendar and enter a title to create a new event.</p>
        <div class="mt-4 flex items-center gap-2">
            <label for="new-event-title" class="sr-only">Event Title</label>
            <input id="new-event-title" type="text" x-model="newEventTitle" class="mt-1 w-full rounded-md border border-gray-200 px-3 py-2.5" placeholder="Event title">
            <button type="submit" class="shrink-0 rounded-md bg-white px-5 py-2.5 shadow">Submit</button>
        </div>
    </form>

    <h2 class="mt-8 font-bold">Moving events and changing duration</h2>
    <p class="mt-1 text-sm text-gray-500">Drag an event to move it to a different day. Drag the right edge to change the duration.</p>

    <h2 class="mt-8 font-bold">Deleting an event</h2>
    <p class="mt-1 text-sm text-gray-500">Click an event and confirm to remove it.</p>
</div>