---
packages: @alpinejs
---

<!-- Alpine Integration: SimpleMDE -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/1.11/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/1.11/simplemde.min.js"></script>

<div
    x-data="{
        value: '# Write Some Markdown...',
        init() {
            let editor = new SimpleMDE({ element: this.$refs.editor })

            editor.value(this.value)

            editor.codemirror.on('change', () => {
                this.value = editor.value()
            })
        },
    }"
    class="prose w-full"
>
    <textarea x-ref="editor"></textarea>
</div>