---
packages: @alpinejs, @alpinejs/ui
---
<!-- Alpine Component: Switch (Toggle) - Fieldset -->


<fieldset  class="w-full lg:max-w-96">
    <legend class="font-medium text-gray-800">Email notifications</legend>

    <div class="flex flex-col *:py-1 first:*:pt-0 last:*:pb-0 mt-4 w-full">
        <!-- Toggle -->
        <div x-data="{ value: true }" x-switch:group class="flex min-w-0 gap-x-3 gap-y-1.5 w-full items-center">
            <!-- Switch -->
            <button
                x-switch
                x-model="value"
                :class="$switch.isChecked ? 'bg-gray-800' : 'bg-gray-800/20'"
                class="relative inline-flex h-5 w-8 items-center rounded-full outline-offset-2 transition"
            >
                <span
                    :class="$switch.isChecked ? 'translate-x-[15px]' : 'translate-x-[3px]'"
                    class="bg-white size-3.5 rounded-full transition shadow-md"
                ></span>
            </button>

            <div class="flex-1 min-w-0">
                <!-- Label -->
                <label x-switch:label class="text-gray-800 select-none">Communication emails</label>
            </div>
        </div>

        <div x-data="{ value: false }" x-switch:group class="flex min-w-0 gap-x-3 gap-y-1.5 w-full items-center">
            <button
                x-switch
                x-model="value"
                :class="$switch.isChecked ? 'bg-gray-800' : 'bg-gray-800/20'"
                class="relative inline-flex h-5 w-8 items-center rounded-full outline-offset-2 transition"
            >
                <span
                    :class="$switch.isChecked ? 'translate-x-[15px]' : 'translate-x-[3px]'"
                    class="bg-white size-3.5 rounded-full transition shadow-md"
                ></span>
            </button>

            <div class="flex-1 min-w-0">
                <label x-switch:label class="text-gray-800 select-none">Marketing emails</label>
            </div>
        </div>

        <div x-data="{ value: false }" x-switch:group class="flex min-w-0 gap-x-3 gap-y-1.5 w-full items-center">
            <button
                x-switch
                x-model="value"
                :class="$switch.isChecked ? 'bg-gray-800' : 'bg-gray-800/20'"
                class="relative inline-flex h-5 w-8 items-center rounded-full outline-offset-2 transition"
            >
                <span
                    :class="$switch.isChecked ? 'translate-x-[15px]' : 'translate-x-[3px]'"
                    class="bg-white size-3.5 rounded-full transition shadow-md"
                ></span>
            </button>

            <div class="flex-1 min-w-0">
                <label x-switch:label class="text-gray-800 select-none">Security emails</label>
            </div>
        </div>

        <div x-data="{ value: false }" x-switch:group class="flex min-w-0 gap-x-3 gap-y-1.5 w-full items-center">
            <button
                x-switch
                x-model="value"
                :class="$switch.isChecked ? 'bg-gray-800' : 'bg-gray-800/20'"
                class="relative inline-flex h-5 w-8 items-center rounded-full outline-offset-2 transition"
            >
                <span
                    :class="$switch.isChecked ? 'translate-x-[15px]' : 'translate-x-[3px]'"
                    class="bg-white size-3.5 rounded-full transition shadow-md"
                ></span>
            </button>

            <div class="flex-1 min-w-0">
                <label x-switch:label class="text-gray-800 select-none">Social emails</label>
            </div>
        </div>
    </div>
</fieldset>