---
packages: @alpinejs, @alpinejs/ui
---
<!-- Alpine Component: Switch (Toggle) -->
<!-- Toggle -->
<div x-data="{ value: false }" x-switch:group class="flex min-w-0 gap-4 items-center">
    <!-- Label -->
    <label x-switch:label class="font-medium text-gray-800 select-none">Send notifications</label>

    <!-- Switch -->
    <button x-switch x-model="value"
        :class="$switch.isChecked ? 'bg-gray-800' : 'bg-gray-800/20'"
        class="relative inline-flex h-5 w-8 items-center rounded-full outline-offset-2 transition"
    >
        <span
            :class="$switch.isChecked ? 'translate-x-[15px]' : 'translate-x-[3px]'"
            class="bg-white size-3.5 rounded-full transition shadow-md"
            aria-hidden="true"
        ></span>
    </button>
</div>