---
packages: @alpinejs, @alpinejs/ui, @alpinejs/focus
---

<!-- Alpine Component: Tabs - Minimal -->


<!-- Tabs -->
<div x-data x-tabs class="mx-auto max-w-3xl w-full">
    <!-- Tab Headings -->
    <div x-tabs:list class="flex gap-4 items-stretch border-b border-gray-800/10 overflow-x-auto">
        <!-- Tab -->
        <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'border-gray-800 text-gray-800' : 'border-transparent'"
            class="flex whitespace-nowrap gap-2 items-center px-5 py-2.5 border-b-2 font-medium text-gray-500 hover:text-gray-800"
        >Profile</button>

        <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'border-gray-800 text-gray-800' : 'border-transparent'"
            class="flex whitespace-nowrap gap-2 items-center px-5 py-2.5 border-b-2 font-medium text-gray-500 hover:text-gray-800"
        >Account</button>

        <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'border-gray-800 text-gray-800' : 'border-transparent'"
            class="flex whitespace-nowrap gap-2 items-center px-5 py-2.5 border-b-2 font-medium text-gray-500 hover:text-gray-800"
        >Billing</button>
    </div>

    <!-- Tab Panels -->
    <div x-tabs:panels class="w-full">
        <!-- Tab Panel -->
        <section x-tabs:panel class="py-8">
            <h2 class="text-base font-medium">Profile</h2>
            <p class="mt-2 text-gray-600 max-w-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quo sequi error quibusdam quas temporibus animi sapiente eligendi! Deleniti minima velit recusandae iure.</p>
        </section>

        <section x-tabs:panel class="py-8">
            <h2 class="text-base font-medium">Account</h2>
            <p class="mt-2 text-gray-600 max-w-xl">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>

        <section x-tabs:panel class="py-8">
            <h2 class="text-base font-medium">Billing</h2>
            <p class="mt-2 text-gray-600 max-w-xl">Ex culpa esse occaecat aliquip laboris. Culpa aliquip excepteur irure. Tempor ut nisi nulla quis non est magna id ipsum ea sunt commodo aliquip id. Incididunt ipsum nulla ex amet laborum cupidatat mollit et labore dolor.</p>
        </section>
    </div>
</div>