---
layout: base
title: Über
description: Ich lerne gerade Web Development mit 11ty, Tailwind CSS und Vite.
noindex: true
nofollow: true
---

<h2 class="text-2xl mb-4">About Page</h2>

<div id="about-svelte-root"></div>
