---
layout: base
title: Tiny 11ty-Tailwind-Alpine Starter
description: Dies ist eine Starter Template mit Eleventy v3, TailwindCSS v4, AlpineJS v3 - using the 11ty-vite-plugin. Templating mit LiquidJS
noindex: true
nofollow: true
---

I am the index.liquid Content.

<h1 class="text-3xl text-red-500">Vite + Svelte</h1>

<div id="svelte-root"></div>
