<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - {{ sitename }}</title>
  <link rel="stylesheet" href="/_css/styles.css">
  <script src="/_js/main.js" type="module" defer></script>
  <script type="module" src="/_js/alpine.js" defer></script>
  <script type="module" src="/_js/svelte.js" defer></script>
</head>
<body>
  {% render "header" %}

  <main>
    {{ content }}
  </main>


  {% render "footer" %}


</body>
</html>
