<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - {{ site.name }}</title>
  <link rel="stylesheet" href="/_css/styles.css">
</head>
<body>
  {% include "header.liquid" %}
  
  <main>
    {{ content }}
  </main>



  {% include "footer.liquid" %}
  
  <script src="/_js/main.js" defer></script>
</body>
</html>